@font-face {
    font-family: Yekan Bakh;
    src: url(./Assets/font/YekanBakh-VF.ttf) format('truetype-variations'),
         url(./Assets/font/YekanBakh-VF.woff) format('woff-variations'),
         url(./Assets/font/YekanBakh-VF.woff2) format('woff2-variations');

    font-weight: 100 900;
    font-style: normal;
}

* {
    direction: rtl;
    padding: 0;
    margin: 0;
}

body {
    background: #020213;
    background: linear-gradient(150deg, rgba(2, 2, 19, 1) 0%, rgba(9, 28, 56, 1) 100%);
    height: 3000px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Yekan Bakh;
}

header {
    margin: 30px;
    font-size:35px;
}

nav {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
}

.click{
    text-decoration: none;
    color:white;
}

.click:hover{
    font-weight: 500;
}

.bigtitle{
    padding-top: 30px;
    font-size: 60px;
    font-family: Yekan Bakh;
    font-weight: 900;
}

.hero{
    display: flex;
    display: row;
    width: 75%;
    padding-top: 40px;
    /* justify-content: space-between; */
    gap:7%;
    
}

#hero-img{
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

#section{
    display: flex;
    display: row;
    align-items: end;
    width: 75%;
}

.h2{
    font-size: 40px;
    text-align: right;

}

.hero-text{
    display: flex;
    flex-direction: column;
    gap:25px
}

#hero-des{
    width: 100%;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD:Style.css
    margin-top: 10px;
    font-weight: 200;
}

.tags{
    display: flex;
    width: 40%;
    direction: ltr;
    justify-content: space-between;
}

#tags-or{
    color:orange;
}
#tags-bl{
    color:pink;
}
#tags-wh{
    color:greenyellow;
}

#hero-long{
    font-weight: 200;
}

.blog-posts{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
}

.post{
    width: 320px;
}
.post-h2{
    font-size: 18px;
    padding: 10px 0px 15px;
    font-weight: 600;
}

.post-p{
    font-size: 15px;
    font-weight: 200;
}

.post-img{
    border-radius: 10px;
    width: 320px;
}

.post-des{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size:14px;
}

=======
}
>>>>>>> 92c80aa49293e46f3c81dc93d4c241bff9d5793d:style.css
